<section id="parcours">
  <div class="container-about">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Parcours</h2>
        <h3 class="section-subheading text-muted">- Mon parcours professionnel et mes études -</h3>
      </div>
    </div>
    <div id="container-timeline">
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="timeline-image">
                  <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                  <%= image_tag("suitcase2.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Décembre 2019 - Aujourd'hui</h4>
                  <h4 class="title-subheading">Développeur Web Fullstack en Freelance – Bordeaux (33000)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Digitalisation de vos projets, conception graphique, webdesign, responsive design, pages dynamiques, interface d'administration (backend) pour la gestion en interne de vos projets, mise en place des outils pour le référencement naturel de votre site web.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                <%= image_tag("students3.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Octobre 2019 - Décembre 2019</h4>
                  <h4 class="title-subheading">Le Wagon Bordeaux - Formation Développeur Web Fullstack</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Outils et workflow de développeur, utilisation du terminal et des outils de versionning (Git / GitHub), programmation orientée objet en Ruby et son framework Rails (mais aussi Javascript, HTML, CSS), conception de schéma DB (utilisation des requêtes SQL) et connection de cette dernière à Ruby avec un ORM (Active Records)</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                  <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                  <%= image_tag("suitcase2.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Septembre 2016 - Juillet 2019</h4>
                  <h4 class="title-subheading">Assistant d'Education - Collège Cheverus – Bordeaux (33000)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Surveillance et encadrement des élèves, mise en place permanente d’actions de médiation, participation au travail de la Vie Scolaire, participation aux tâches liées à la vie de l’établissement, participation au dispositif « Devoirs- faits »</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                <%= image_tag("suitcase2.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Période de vacances scolaire de 2015 - 2017</h4>
                  <h4 class="title-subheading">Agent polyvalent - SAS Etablissements Le Gac Didier – Baud (56150)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Standard téléphonique, informatisation des devis établis pour la gestion des pièces référencées, réalisation de bons de livraisons, usinage de diverses pièces</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                <%= image_tag("students3.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Mai 2015 - Juillet 2015</h4>
                  <h4 class="title-subheading">Stagiaire polyvalent - Association Ikamaperu - Pérou (Lagunas)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Etude comportementale des primates et oiseaux, étude phytosociologique comparative entre deux habitats, rôle de soigneur animalier, éducation environnementale auprès des populations locales (film/débat)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                <%= image_tag("students3.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2014 - 2016</h4>
                  <h4 class="title-subheading">Lycée d’Enseignement Agricole Privé Kerplouz LaSalle – Auray - 56400)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Obtention du Brevet de Technicien Supérieur en Gestion et Protection de la Nature</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                <%= image_tag("students3.png", :class => "img-works", height: "60%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2013 - 2014</h4>
                  <h4 class="title-subheading">Lycée Victor Hugo – Hennebont (56700)</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Obtention du Baccalauréat – Série Economique et Sociale</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                <%= image_tag("download.png", :class => "img-works", height: "55%") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Mon Curriculum Vitae</h4>
                  <h4 class="title-subheading">Cliquer pour télécharger</h4>
                </div>
                <div class="timeline-body">
                  <%= link_to image_tag("CV.jpg", width: 80), pages_download_pdf_url %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
