<section id="skill">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Compétences</h2>
      <h3 class="section-subheading text-muted">- Développement Web - Backend & Frontend -</h3>
    </div>
  </div>

  <!-- Skills bar -->
  <div id="skills-bar">
    <div class="bar">
      <div class="skill">Ruby <i class="fas fa-gem"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble ruby">85%</div>
        <div class="bar-inner rb"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Javascript <i class="fab fa-js-square"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble javascript">70%</div>
        <div class="bar-inner js"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">PostgreSQL <i class="fas fa-database"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble sql">90%</div>
        <div class="bar-inner sq"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">HTML <i class="fas fa-database"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble html">90%</div>
        <div class="bar-inner ht"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">CSS <i class="fab fa-css3-alt"></i> / SCSS <i class="fab fa-sass"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble css">90%</div>
        <div class="bar-inner cs"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">WordPress <i class="fab fa-wordpress"></i></div>
      <div class="bar-outer">
        <div class="speech-bubble wordpress">55%</div>
        <div class="bar-inner wp"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">- Frameworks -</h3>
    </div>
  </div>

  <!-- Skills Circle -->
  <div class="row skills-circle">
    <div class="col-xs-12 col-sm-4 col-md-4 progress-circle">
      <svg viewBox="0 0 36 36" class="progress-circle__svg orange">
        <path class="progress-circle__bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
  <!--    change the first attr in the below dash array    -->
        <path class="progress-circle__inner"
          stroke-dasharray="85, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="progress-circle__percentage">85%</text>
      </svg>
      <div class="chart-text">
        <span>Rails <%= image_tag "rails.png", width: 20 %></span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 progress-circle">
      <svg viewBox="0 0 36 36" class="progress-circle__svg orange">
        <path class="progress-circle__bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
  <!--    change the first attr in the below dash array    -->
        <path class="progress-circle__inner"
          stroke-dasharray="70, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="progress-circle__percentage">70%</text>
      </svg>
      <div class="chart-text">
        <span>JQuery <%= image_tag "jquery.png", width: 20 %></span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 progress-circle">
      <svg viewBox="0 0 36 36" class="progress-circle__svg orange">
        <path class="progress-circle__bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
  <!--    change the first attr in the below dash array    -->
        <path class="progress-circle__inner"
          stroke-dasharray="90, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="progress-circle__percentage">90%</text>
      </svg>
      <div class="chart-text">
        <span>Bootstrap <i class="fi-swsuxl-bootstrap-b"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">- Logiciels -</h3>
    </div>
  </div>

  <div class="row software-container">
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "sublime.png", width: 80 %>
      </div>
      <div class="software-text">
        <span>Sublime Text</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "git.png", width: 72 %>
      </div>
      <div class="software-text">
        <span>Git</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "terminal.png", width: 72 %>
      </div>
      <div class="software-text">
        <span>Terminal</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "postman.png", width: 80 %>
      </div>
      <div class="software-text">
        <span>Postman</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "figma.png", width: 80 %>
      </div>
      <div class="software-text">
        <span>Figma</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "photoshop.png", width: 75 %>
      </div>
      <div class="software-text">
        <span>Photoshop</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "office.png", width: 80 %>
      </div>
      <div class="software-text">
        <span>Suite Office</span>
      </div>
    </div>
    <div class="col-xs-6 software">
      <div class="img-software">
        <%= image_tag "whimsical.png", width: 140 %>
      </div>
      <div class="software-text">
        <span>Whimsical</span>
      </div>
    </div>
  </div>

</section>
