<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Button Scroll Up -->
    <%= render"shared/btnscrollup" %>


    <!-- Header -->
    <%= render"shared/header" %>


    <!-- Services Section -->
    <%= render"shared/services" %>


    <!-- Portfolio Section -->
    <%= render"shared/portfolio" %>


    <!-- Compétences Section -->
    <%= render"shared/skills" %>


    <!-- About Section -->
    <%= render"shared/about" %>


    <!-- Contact Section -->
    <%= render"shared/contact" %>


    <!-- Footer -->
    <%= render"shared/footer" %>

</body>
